* {
	box-sizing: border-box;
    font-family: basic-sans;
    color: black;
    font-size: 16px;
}

html, body {    
	margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    border: none;
}

.container {
    display: grid;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    border: none;
}

.container-wrapper {
    height: 75vw;
    width: 75vw;
    margin: 30px auto;
    position: relative;
    border: none;
}

div {
    border: 0.2px solid black;
}






